div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  
}

div.desc {
  padding: 15px;
  text-align: center;
}

h3 {
	font-size: 30px;
	font-size: italic;
	font font-weight: 100;
	text-align: left;
	text-decoration: underline;
	color: #cfcd00;
	word-spacing: 10px;
	line-height: 40px;
	font-family: 'Algerian'; 

}
p {
	font-size: 30px;
	color: #300000;

}


